/* main body items container */
.body-item-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  cursor: pointer;
}

/* middle text container */
.text-container {
  transform: translate(4em);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
}

/* green line before text item */
.text-line {
  position: absolute;
  width: 1vw;
  height: 40%;
  background-color: #3aff00;
  left: -40px;
  border-radius: 5px;
  transition: height 0.5s;
}

/* white text */
.white-txt {
  color: white;
  font-size: 6vw;
  font-weight: bold;
}

/* green text */
.green-txt {
  color: #3aff00;
  font-size: 6vw;
  font-weight: bold;
}

/* decscription */
.description {
  color: rgba(255, 255, 255, 0.5);
  width: 33vw;
  font-weight: lighter;
  margin-top: 2rem;
}

/* cover image container */
.image-container {
  position: relative;
  transform: translate(-4em);
  z-index: -1;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-items {
  position: relative;
  transform: translateY(-50%);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(0, 255, 30);
  border-radius: 0.1rem;
}

.sub-line {
  background-color: rgb(0, 0, 0);
  width: 0.05vmax;
  height: 0.6vmax;
}

.join,
.projects {
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  flex: 1;
  font-size: 1vw;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.join:hover,
.projects:hover {
  background-color: #3aff00;
}

/* cover image */
.cover-image {
  width: 30vw;
  border-radius: 10px;
}

.blur {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #3aff00;
  border-radius: 10px;
  filter: blur(7rem);
  z-index: -5;
  bottom: 0%;
}

/* Green line hover */
.body-item-container:hover .text-line {
  height: 100%;
}

/* text container hover */
.body-item-container:hover .text-container {
  transform: translate(3em);
}

/* image container hover */
.body-item-container:hover .image-container {
  transform: translate(-3em);
}

@media (max-width: 830px) {
  .image-container {
    transform: translate(-3em);
  }

  .text-container {
    transform: translate(3em);
  }
  .cover-image {
    width: 38vw;
  }
}

@media (max-width: 650px) {
  .image-container {
    transform: translate(-2em);
  }

  .text-container {
    transform: translate(2em);
  }
  .cover-image {
    width: 45vw;
  }
}

@media (max-width: 400px) {
  .image-container {
    transform: translate(-1.5em);
  }

  .text-container {
    transform: translate(1.5em);
  }
  .cover-image {
    width: 45vw;
  }
}
